@page
@model StudentManagement.Pages.CreateStudentModel
@{
    <h1>Create Student</h1>
    <form method="post">
        <div class="form-group">
            <label asp-for="@Model.Student.StudentNumber">Student Number</label>
            <input asp-for="@Model.Student.StudentNumber" type="text" class="form-control"/>
            <span asp-validation-for="@Model.Student.StudentNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Student.FullName"></label>
            <input asp-for="@Model.Student.FullName" type="text" class="form-control"/>
            <span asp-validation-for="@Model.Student.FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Student.Email"></label>
            <input asp-for="@Model.Student.Email" type="email" class="form-control"/>
            <span asp-validation-for="@Model.Student.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Student.Password"></label>
            <input asp-for="@Model.Student.Password" type="password" class="form-control" />
            <span asp-validation-for="@Model.Student.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Student.Picture"></label>
            <input asp-for="@Model.Student.Picture" type="url" class="form-control"/>
            <span asp-validation-for="@Model.Student.Picture" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mt-2 w-100">Create</button>
        </div>
    </form>
}
